.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.country-name {
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.country-card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #fff;
  font-style: normal;
  margin-bottom: 10px;
}
.country-card-text,
.countries-name {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 16px;
}
.country-information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
.country-information-text {
  margin: 30px;
}
body {
  background-image: url('../images/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.reset-button {
  background-color: beige;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-style: normal;
}
.input-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input,
.reset-button {
  margin: 15px;
  padding: 5px;
  background-color: beige;
  border-radius: 5px;
}
