<div>
    <h1>{{country.name}}</h1>
    <span>Capital: {{country.capital}}</span>
    <span>Population: {{country.population}}</span>
    <span>Languages:</span>
    <ul>
        {{#each languages}}
        <li>{{language}}</li>
        {{/each}}
    </ul>

</div>